form {
    border: 1px solid black;
    border-radius: 5%;
    font-family: 'Courier New', Courier, monospace;
    width: 500px;
    height: 500px;
    background-color: lightblue;
    display: grid;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


body {
    background-color: lightgray;
    border-radius: 10px;
}